dev:
  TEST_MODE: true
  SECURE_SSL: false
  FROM_EMAIL: 'info@acheev.co'
  JWT_SECRET_KEY: ''
  ACHEEV_BUCKET: ''
  ACHEEV_BUCKET_LINK: ''
  MONGO_URI: ''
  FACEBOOK_CLIENT_ID: ''
  FACEBOOK_CLIENT_SECRET: ''
  GOOGLE_CLIENT_ID: ''
  GOOGLE_CLIENT_SECRET: ''
  BRAINTREE_MERCHANT_ID: ''
  BRAINTREE_PUBLIC_KEY: ''
  BRAINTREE_PRIVATE_KEY: ''

prod:
  TEST_MODE: false
  SECURE_SSL: true
  FROM_EMAIL: 'info@acheev.co'
  JWT_SECRET_KEY: ''
  ACHEEV_BUCKET: ''
  ACHEEV_BUCKET_LINK: ''
  MONGO_URI: ''
  FACEBOOK_CLIENT_ID: ''
  FACEBOOK_CLIENT_SECRET: ''
  GOOGLE_CLIENT_ID: ''
  GOOGLE_CLIENT_SECRET: ''
  BRAINTREE_MERCHANT_ID: ''
  BRAINTREE_PUBLIC_KEY: ''
  BRAINTREE_PRIVATE_KEY: ''
